.header {
  text-align: center;
  margin: 10px;
}
.create-task {
  margin: 10px;
}

.board {
  width: auto;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
app-board {
  display: inline-flex;
  min-height: 700px;
  height: auto;
}
